.header {
    background-color: gold;
    text-align: center;
}

h2:hover{
    background-color: teal;
    
}

.img-container {
    display:flex;
    background-color:pink;
    padding: 25px;
    align-items:center;
}

.menu{
    display: flex;
    justify-content: space-between;
    background-color: red;
}

.items {
    display: flex;
    border: 5px solid black;
    width:50px;
    padding: 10px;
}



.button1{
    background-color: #4CAF50; /* Green */
    font-size: 25px;
    padding: 40px 60px;
    border-radius: 60px;
    font-family: 'Lobster', cursive;
    
}

img{
    width: 33%;
}

p:hover{
    font-family: 'Lobster', cursive;
    font-size: 35px;
}